*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --second-text-color: #757575;
  --primary-white-color: #ffffff;
  --second-background-color: #2f303a;
  --btn-second-color: #f5f4fa;
  --for-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  background: var(--primary-white-color);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  list-style-type: none;
  text-decoration: none;
}
.hide {
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
}

/* -------------------btn-------------------- */
.btn-header {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  display: block;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 32px;
}

.btn-header:hover,
.btn-header:focus {
  background-color: #188ce8;
}

.btn-second {
  background-color: var(--btn-second-color);
  color: var(--primary-text-color);
  text-align: center;
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.48px;
  cursor: pointer;
  /* box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12); */
  border-radius: 4px;
}
.btn-second:hover,
.btn-second:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.btn-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  margin-top: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* -------------------header-------------------- */
.header-nav {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
  height: 80px;
}
.page-header {
  background-color: var(--primary-white-color);
}
.logo {
  display: inline-block;
  justify-content: space-between;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.78px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-header {
  color: currentColor;
  margin-right: 93px;
  margin-left: 0;
}
.logo-web {
  color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.78px;
}

.logo-white {
  color: var(--primary-white-color);
}

/* -------------------nav-------------------- */
.nav-list {
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 0px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-item {
  flex-direction: row;
  justify-content: flex-start;
}

.nav-link {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: currentColor;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* -------------------contacts-------------------- */
.contacts-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
  margin: 0 0 0 280px;
}
/* .contacts-item {
  flex-direction: row;
  justify-content: flex-end;
} */

.contacts-link {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* -------------------hero-------------------- */
.hero {
  background-color: var(--second-background-color);
  letter-spacing: 0.06em;
  text-align: center;
  padding: 200px 0;
  background-repeat: no-repeat;
  height: 600px;
  max-width: 1600px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
}
.hero-title {
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* -------------------benefits-------------------- */
.benefits-container {
  display: flex;
  flex-direction: row;
}

.benefits-item {
  margin-top: 94px;
}

.benefits-title {
  color: currentColor;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits-text {
  color: var(--second-text-color);
  font-size: 14px;
  font-family: inherit;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

/* -------------------services-------------------- */
.services-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.services-item {
  width: calc((100% - 60px) / 3);
  position: relative;
}

.services-title {
  color: currentColor;
  text-align: center;
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 1.08px;
  margin-top: 118px;
  margin-bottom: 50px;
}

.services-img {
  display: block;
  width: 100%;
}

/* -------------------team-------------------- */
/* .team {
} */

.team-title {
  color: currentColor;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  /* text-transform: uppercase; */
  margin-top: 188px;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 94px;
}

.team-item {
  width: calc((100% - 90px) / 4);
  position: relative;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-img {
  display: block;
  width: 100%;
}

.team-item-title {
  color: currentColor;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-top: 30px;
}
.team-text {
  color: var(--second-text-color);
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-top: 10px;
  margin-bottom: 30px;
}
/* -------------------benefits-------------------- */

/* .address-list {
}
.address-item {
} */
.address-list {
  margin-top: 20px;
}
.address-link {
  color: var(--primary-white-color);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.address-contacts-link {
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.address-contacts-link:hover,
.address-contacts-link:focus {
  color: var(--accent-color);
}
/* -------------------footer-------------------- */
.footer {
  background-color: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

/* -------------------portfolio-------------------- */

/* -------------------project-------------------- */
.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}

.project-title {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}
.project-text {
  color: var(--second-text-color);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.48px;
}

/* -------------------benefits-------------------- */
